*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}
h2{
	text-align: center;
	padding-top: 1.5%;
	font-size: 40px;
	text-transform: capitalize;
	font-family: 'Playfair Display', serif;


}
h2:hover{
	text-decoration: underline grey double;
}
section{
	height: auto;
	width: 90%;
	/*border: 3px solid green;*/
	margin-left: 5%;
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 15px;
}
section .plan{
	position: relative;
	/*border: 1px solid black;*/
	height: 300px;
	width: 390px;
	position: relative;
	box-shadow: 0px 0px 5px 0px	grey;
	cursor: pointer;
	
}
section .plan img{
	height: 100%;
	width: 100%;
	position: absolute;

}
section .plan::after{
	content: "Travel Diaries";
	position: absolute;
	top: 70%;
	bottom: 0%;
	right:  0%;
	left: 0%;
	height:  30%;
	width: 100%;
	background-color: rgba(210,0,0,0.5);
	transition: 1s ease-in;
	opacity: 0;
	font-size: 35px;
	text-align: center;
	color: white;
	}
section .plan:hover::after{
	opacity: 1;
}

@media (max-width: 1200px){
		section .plan{
		width: 350px;
	}
}
@media (max-width: 1080px){
	section .plan{
		width: 315px;
		height: 290px;
	}
}
@media (max-width: 980px){
	section .plan{
		width: 280px;
		height: 280px;
	}
}
@media (max-width: 720px){
	section{
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}
	section .plan{
		height: 300px;
		width: 70%;
		margin-left: 15%;
	}
}
@media (max-width: 480px){
	h2{
		font-size: 30px;
	}
	section .plan{
		height: 270px;
	}
}