*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;

}
		.safety{
			height: auto;
			width: 100%;
			border: 1px solid black;
			display: flex;
			justify-content: space-around;
			}
		.safety .one{
			height: auto;
			width: 22%;
			/*border: 1px solid black;*/
			margin: 4% 0% 3% 0%;
			background: white;
			box-shadow: 0px 0px 7px 0px lightgray;
			border-radius: 10%;
			transition: 1s;

		}
		.safety .one:hover{
			border: 1px solid blue;
			box-shadow: 3px 0px 2px 0px lightgray;

		}
		.safety .one img{
			height: 50%;
			width: 70%;
			margin-left: 15%;
			border-radius: 50%;
			padding-top: 2%;
			margin-top: 3%;
		
		}
		.safety .one p{
			padding: 5%;
			margin-top: 3%;
		}
		.safety .one h2{
			text-align: center;
			text-transform: capitalize;
			margin-top: 2%;
		}

@media (max-width: 1080px){
		.safety .one img{
			height: 45%;
		}
		.safety .one p{
			font-size: 15px;
		}
}
@media (max-width: 720px){
.safety{
	flex-direction: column;
}
.safety .one{
	width: 50%;
	margin-left: 25%;
}	
}