*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background: black;
}
.box{
	height: 300px;
	width: 300px;
	/*border: 5px solid red;*/
	position: relative;
	transition: 7s;
	margin: 5% 0px 0px 25%;

}

.circle:hover{
	height: 300px;
	width: 550px;
	border: 1px solid black;
	background-image: linear-gradient(green,yellowgreen,palegoldenrod,darkgreen);
	border-radius: 150px 10px 50px 150px;
	box-shadow: 5px -10px 10px 20px grey;
	transform: rotate(360deg);
	animation-name: ani;
	animation-duration: 2s;
	animation-iteration-count: 3;
}
@keyframes ani{
	0%{
	background-image: linear-gradient(to right,green,yellowgreen);

	}
	25%{
	background-image: linear-gradient(to right,palegoldenrod,greenyellow);

	}
	50%{
	background-image: linear-gradient(to right,orange,palegreen);

	}
	75%{
	background-image: linear-gradient(to right,green,seagreen,yellowgreen);

	}
}
.circle{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	/*border: 1px solid red;*/
	position: absolute;
	animation-name: ani;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition: 4s;


}
.circle img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	clip-path: ellipse(85px 180px);
}
h1{
	margin-left: 22%;
	margin-top: 5%;
	color: pink;
}
