*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	line-height: 28px;

}
.main{
	height: auto;
	width: 80%;
	margin: 50px 0px 50px 10% ;
	background: white;
}

.main .picture{
	height: 300px;
	width: 300px;
	/*border: 1px solid black;*/
	border-radius: 50%;
	margin: 5px 0px 0px 35%;
	box-shadow: 3px 3px 3px 5px grey;

}
.main .picture img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.main h1,h4{
	text-align: center;
	line-height: 40px;
	padding-top: 20px;
	text-transform: uppercase;
}
.contribution{
	height: auto;
	width: auto;
	column-count: 2;
	/*border: 1px solid red;*/

}
.contribution ul{
	margin-left: 25px;
	padding-top: 20px;

}
::marker{
	color: red;


}
.Early-life{
	height: auto;
	width: auto;
	/*border: 1px solid red;*/
	margin-top: 10px;

}
.Early-life p{
	text-indent: 100px;
}
.Early-life p span{
	font-size: 200%;
}
.Early-life a{
	margin-left: 50%;
}
.Fight-for-self-rule{
	height: auto;
	width: auto;
	/*border: 1px solid red;*/

}
.Fight-for-self-rule p{
	text-indent: 100px;


}
.Fight-for-self-rule a{
	margin-left: 15%;
}
.for-more{
	text-align: center;
	padding-top: 20px;
	background: brown;
	color: white;
	font-variant: small-caps;
	font-size: 22px;
	border-radius: 40px 40px;
}
h2{
	color: whhite;
	background: brown;
	text-align: center;
	text-transform: capitalize;
	border-radius: 50%;

}
h2::after{
	content: " :-";
}
h2::before{
	content: "-:";
}