body{
	background-image: url(https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_960_720.jpg);
	background-size: cover;
	
}

h1{
	text-align: center;
	text-shadow: -3px 0px 2px grey;
}
form{
	height: auto;
	width: 600px;
	/*border: 1px solid black;*/
	margin-left: 25%;
	padding: 10px 50px;
	line-height: 25px;
	background-color: rgba(0,0,0,0.5);
	color: white;


}
label{
	font-size: 21px;

}
input{
	border-width: 0px 0px 1px 0px;
	border-color: red;
	border-style: solid;
	background: transparent;
	color: black;
	height: 25px;
	width: 80%;
	color: mintcream;
	font-weight: bold;
	font-size: 20px;
}
input:hover{
	background: black;
}