*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Noto Serif Georgian', serif;

}
header{
	/*border: 1px solid black;*/
	height: 600px;
	width: 100%;
	background-image: linear-gradient(rgba(170, 150, 200,0.7),rgba(170,150,200,0.7)),url(https://cdn.pixabay.com/photo/2019/05/16/20/15/online-4208112_960_720.jpg);
	background-repeat: no-repeat;
	background-size: 100% 600px;

}
.nav{
	width: 100%;
	/*border: 1px solid black;*/
	height: 80px;
	display: flex;
}
header .nav img{
	height: 100%;
	width: 13%;
	/*margin-left: 2%;*/
	padding-left: 3%;
	/*border: 1px solid black;*/
}
header .nav ul{
	height: 80px;
	width: 87%;
	/*border: 1px solid red;*/
	list-style: none;
	display: flex;
	margin-left: 51.5%;

}
header .nav ul li{
	height: 80px;
	width: auto;
	/*border: 1px solid red;*/
	padding-right: 20px;



}
header .nav ul li a{
	display: inline-block;
	height: 40px;
	width: auto;
	/*border: 1px solid orange;*/
	padding: 7px 5px 0px 5px;
	margin: 20px 0px 0px 10px;
	font-variant: small-caps;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	

}
header .nav ul li a:hover{
	background-image: linear-gradient(rgba(100, 50, 210,0.5),rgba(0, 0, 0,0.5));
	color: white;
	border-radius: 10px;
	font-size: 22px;
	padding-top: 5px;
	box-shadow: 2px 2px 5px 2px black;
}

												/*end nav*/
header .content{
	/*border: 1px solid black;*/
	height: 300px;
	width: 400px;
	margin: 7% 0px 0px 3%;

}
.content h1{
	font-size: 46px ;
	padding: 0px 0px 0px 5px;
	cursor: pointer;

}
.content p{
	font-size: 14px;
	margin: 3% 0px 0px 5px;
}
header .link{
	/*border: 1px solid black;*/
	height: auto;
	width: auto;
 	padding: 15px;
	margin-top: 10px;
}
header .content a{
	text-decoration: none;
 	/*border: 1px solid black;*/
 	padding: 10px 20px;
 	font-size: 20px;
 	border-radius: 10px;
 	box-shadow: 2px 2px 4px 2px black;
	cursor: pointer;

}
#first{
 	margin-left: 50px;
 	background: red;
 	color: white;
	animation: firstani 2s infinite;


}
#second{
	margin-left: 10px;
	background: white;
	color: red;
}
#second:hover{
	background: red;
	color: white;

}
@keyframes firstani{
	0%{
		background: red;
		color: white;
	}
	50%{
		background: white;
		color: red;

	}
	100%{
		background: red;
		color: white;
	}
}
														/*end header*/
.service{
	text-align: center;
	margin-top: 25px;
	cursor: pointer;


}
.service h1{
	position: relative;

}
.service h1::after{
	content: "";
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 41%;
	right: 0px;
	height: 5px;
	width: 18%;
	background-image: linear-gradient(rgba(100, 50, 210,0.5),rgba(0, 0, 0,0.3));

	/*background: olive;*/
	opacity: 0;
	transition: 1s;
}
.service h1:hover::after{
	opacity: 1;
}
.service p{
	height: auto;
	width: 50%;
	margin-left: 25%;
	font-size: 12px;
	margin-top: 8px;
}
section{
	height: 550px;
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
	background: lightgrey;
	/*border: 1px solid black;*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 240px 240px;
	grid-gap: 20px 25px;
	padding: 2%;
	border-radius: 20px;


}
section .box{
	/*border: 1px solid black;*/
	height: auto;
	width: auto;
	transition: 1s;
	background: white;
	border-radius: 20px;
}
section .box:hover{
	/*background: lightgrey;*/
	font-weight: bolder;
	box-shadow: 3px 2px 5px 5px grey;


}
section .box:hover i{
	box-shadow: none;
}
section .box i{
	height: 500px;
	width: 100px;
	/*border: 1px solid black;*/
	display: inline;
	font-size: 80px;
	margin-left: 150px;
	color: purple;
	cursor: pointer;
	border-radius: 10px;
	transition: 2s;



}
section .box h2{
	text-align: center;
	margin-top: 10px;
	font-variant: small-caps;
	font-size: 35px;
}
section .box:hover h2{
	text-shadow: 0px 3px 2px grey;
	font-size: 36px;
}
section .box p{
	padding: 5px 2px 0px 15px;
	font-size: 12x;
	text-align: center;
	transition: 0.2s;
}	
section .box p:hover{
	font-size: 16px;
}


												/*end section*/

.location{
	text-align: center;
	margin-top: 25px;
	height: 400px;
	width: 90%;
	margin-left: 5%;
	/*border: 1px solid green;*/



}
.location h1{
	position: relative;

}
.location h1::after{
	content: "";
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 40%;
	right: 0px;
	height: 5px;
	width: 20%;
	background-image: linear-gradient(rgba(100, 50, 210,0.5),rgba(0, 0, 0,0.3));

	/*backgro1und: olive;*/
	opacity: 0;
	transition: 1s;
}
.location h1:hover::after{
	opacity: 1;
}
.location p{
	height: auto;
	width: 50%;
	margin-left: 25%;
	font-size: 12px;
	margin-top: 8px;
	/*border: 1px solid black;*/
}
.location .intro{
	height: 270px;
	width: 100%;
	/*border: 1px solid red;*/
	display: flex;
	justify-content: space-around;
	margin-top: 20px;

	

}
.location .intro .box,#one,#two,#three{
	/*border: 1px solid black;*/
	height: 270px;
	width: 31%;
	border-radius: 20px;
	position: relative;
	box-shadow: 3px 0px 7px 3px grey;
	cursor: pointer;

		


}
.location .intro .box img{
	height: 100%;
	width: 100%;
	border-radius: 20px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}
#one::after{
	content: "Ippsum";
	position: absolute;
	align-items: center;
	top: 0%;
	bottom: 0px;
	right: 0px;
	left: 0%;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 40px;
	color: white;
	border-radius: 20px;
	opacity: 0;
	transition: 1s;
	text-transform: uppercase;
}
#two::after{
	content: "laboris";
	position: absolute;
	top: 0%;
	bottom: 0px;
	right: 0px;
	left: 0%;
	height: 100%;
	width: 100%;
	color: black;
	font-size: 40px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	opacity: 0;
	transition: 1s;
	text-transform: uppercase;



}

#three::after{
	content: "dolor";
	position: absolute;
	top: 0%;
	bottom: 0px;
	right: 0px;
	left: 0%;
	height: 100%;
	width: 100%;
	font-size: 40px;
	color: white;
	background-color: rgba(0, 0, 0,0.5);
	border-radius: 20px;
	opacity: 0;
	transition: 1s;
	text-transform: uppercase;

}

#one:hover::after,
#two:hover::after,
#three:hover::after{
	opacity: 1;
}
										/*end location*/

footer{
	height: 210px;
	width: 90%;
	margin: 25px 0px 0px 5%;
	border: 1px solid black;
	border-radius: 25px;
	font-variant: small-caps;
	text-align: center;
	background-image: linear-gradient(rgba(170, 150, 200,0.7),rgba(170,150,200,0.7))
}
footer h1{
	font-size: 45px;
	background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,50,1));
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}
footer p{
	padding: 5px 55px;
}
footer ul{
	display: flex;
	/*border: 1px solid red;*/
	font-size: 30px;
	margin-left: 42%;
	width: 15%;
	justify-content: space-around;
	margin-top: 15px;

}
footer li{
	list-style: none;
	/*border: 1px solid green;*/
	padding: 3px;
}
footer ul li a{
	color: black;
	border-radius: 5px;	
}
footer ul li a:hover{
	font-size: 32px;
	color: blue;
	cursor: pointer;

}
