.main{
	text-transform: capitalize;
	font-size: 20px;
	line-height:52px;
	text-align: center;


}
h3{
	font-size: 40px;
	color: pink;
	text-align: center;
	text-transform: capitalize;
}
.a{
	text-decoration:  2px underline;
	text-decoration-style: double;
	text-decoration-color: red;

}
.b{
	text-decoration: 4px overline;
	text-decoration-style: dotted;
	text-decoration-color: blue;
}
.c{
	text-decoration:  2px line-through;
	text-decoration-style: solid;
	text-decoration-color: lightgreen;
}
.d{
	text-decoration: underline overline line-through;
	
}
