*{
	box-sizing: border-box;
}
h1{
	text-align: center;
	text-transform: uppercase;
	border: 1px solid black;
	/*height: 60px;*/
	padding-top: 10px;

}

.gallary{
	height: 350px;
	width: 80%;
	border: 2px solid black;
	margin-left: 10%;
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}
.a{
	height: 350px;
	width: 32%;
	border: 1px solid red;

}
.a img{
	height: 100%;
	width: 100%;
}